<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>716426395523-6a1e478b83rrt5j47aodocqet8e79v2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716426395523-6a1e478b83rrt5j47aodocqet8e79v2d</string>
	<key>API_KEY</key>
	<string>AIzaSyADYd59WzZaKFavISCYpRcQ55SYIORXYCw</string>
	<key>GCM_SENDER_ID</key>
	<string>716426395523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaith.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>ios-instagram-cbfad</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-instagram-cbfad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:716426395523:ios:134e6aee46724c7b</string>
	<key>DATABASE_URL</key>
	<string>https://ios-instagram-cbfad.firebaseio.com</string>
</dict>
</plist>